.button1{
    color: white;
background-color: rgb(233, 233, 24); 
background-image: url('assets/istockphoto-1146263300-612x612.jpg');
position: absolute;
width: 300px;
height: 300px;
border-radius: 50%;
margin-left: 950px;
margin-top: 850px;
font-weight: bolder;
font-size: 45px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
box-shadow: -1px 10px 1px 3.5px black;
text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
} 
.button2{
    color: white;
background-color: white;
background-image: url('assets/premium_photo-1675695700239-44153e6bf430.jpg');
position: absolute;
width: 300px;
height: 300px;
border-radius: 50%;
margin-left: 955px;
margin-top: 575px;
font-weight: bolder;
font-size: 45px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
box-shadow: -1px 10px 1px 3.5px black;
text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
} 
.button3{
        color: white;
    background-color: red; 
    background-image: url('assets/Rock.jpg');
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 350px;
    margin-top: 850px;
    font-weight: bolder;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: -1px 10px 1px 3.5px black;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    } 
    .button4{
        color: white;
        background-color: white;
        background-image: url('assets/stapler.jpg');
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin-left: 1250px;
        margin-top: 850px;
        font-weight: bolder;
        font-size: 45px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        box-shadow: -1px 10px 1px 3.5px black;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }
    .button5{
        color: white;
        background-color: rgb(233, 233, 24);
        background-image: url('assets/meade_headshot.png');
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin-left: 1250px;
        margin-top: 575px;
        font-weight: bolder;
        font-size: 45px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        box-shadow: -1px 10px 1px 3.5px black;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }
    .b6{
        color: white;
        background-color: red;
       background-image: url('assets/CostantinoPeter.jpg');
        position: absolute;
        width: 115px;
        height: 115px;
        border-radius: 50%;
        margin-left: 650px;
        margin-top: 1000px;
        font-weight: bolder;
        font-size: 45px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        box-shadow: -1px 10px 1px 3.5px black;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }